In [1]:
import pandas as pd

path = 'Data.csv'

In [2]:
df = pd.read_csv(path)

In [3]:
print(df)

      Unnamed: 0   DIRECT COST   Unnamed: 2     Unnamed: 3  \
0            NaN       MEDICAL          NaN            NaN
1        CT TYPE  Consultation  Bed charges  Investigation
2   Neo-Adjuvant           450          850           3320
3   Neo-Adjuvant           450         2000           4000
4       Adjuvant           450         4000           4200
..           ...           ...          ...            ...
76      Adjuvant          1050         3900           5200
77      Adjuvant          1050         3900           5000
78  Neo-Adjuvant          1050         2300           5670
79  Neo-Adjuvant          1050         4950           5200
80           NaN   696.1538462   2785.25641    4358.846154

            Unnamed: 4   Unnamed: 5                   Unnamed: 6  \
0                  NaN          NaN                          NaN
1   Diagnostic charges   Medication  Government support utilized
2                  NaN          700                       300000
3                  NaN          750                       500000
4                  NaN          900                       400000
..                 ...          ...                          ...
76                1700          750                        85000
77                1700          750                        30000
78                 950          780                        45000
79                 950          750                        80000
80           1301.5625  752.6923077                  255384.6154

                         Unnamed: 7                  Unnamed: 8  Unnamed: 9  \
0                               NaN                         NaN         NaN
1   Government support not utilized  Others (PET Scan/ CT-Scan)         NaN
2                               NaN                       23000         NaN
3                               NaN                       19000         NaN
4                               NaN                       18000         NaN
..                              ...                         ...         ...
76                              NaN                       19000         NaN
77                              NaN                       18000         NaN
78                              NaN                       18000         NaN
79                              NaN                       23000         NaN
80                      331153.8462                 19871.79487         NaN

    Unnamed: 10 Unnamed: 11         Unnamed: 12 Unnamed: 13  Unnamed: 14  \
0           NaN         NaN                 NaN        Mean          NaN
1           NaN    Adjuvant        Consultation         NaN          NaN
2           NaN         NaN         Bed charges         NaN          NaN
3           NaN         NaN       Investigation         NaN          NaN
4           NaN         NaN  Diagnostic charges         NaN          NaN
..          ...         ...                 ...         ...          ...
76          NaN         NaN                 NaN         NaN          NaN
77          NaN         NaN                 NaN         NaN          NaN
78          NaN         NaN                 NaN         NaN          NaN
79          NaN         NaN                 NaN         NaN          NaN
80          NaN         NaN                 NaN         NaN          NaN

    Unnamed: 15
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
76          NaN
77          NaN
78          NaN
79          NaN
80          NaN

[81 rows x 16 columns]

In [5]:
import pandas as pd

# Your DataFrame (replace this with your actual DataFrame)
data = {
    'CT TYPE': ['Neo-Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Neo-Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Neo-Adjuvant', 'Neo-Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Adjuvant', 'Neo-Adjuvant', 'Neo-Adjuvant', 'Adjuvant', 'Neo-Adjuvant'],
    'Consultation': [450, 450, 450, 1050, 1050, 450, 1050, 1050, 1050, 450, 1050, 1050, 450, 450, 1050, 1050, 450, 450, 1050, 450],
    'Bed charges': [850, 2000, 4000, 2300, 3900, 4950, 2000, 850, 2000, 2300, 4000, 4950, 850, 850, 2300, 4950, 4000, 3900, 2300, 2000],
    'Investigation': [3320, 4000, 4200, 5670, 5000, 3320, 5200, 5670, 5200, 3320, 5000, 5670, 4000, 4200, 5200, 5670, 5200, 3320, 4000, 3320],
    'Diagnostic charges': [None, None, None, 1700, 1700, None, 950, 1700, 950, None, 1700, 1700, None, None, 950, 950, 1700, None, None, None],
    'Medication': [700, 750, 900, 800, 670, 670, 700, 700, 750, 750, 900, 700, 700, 700, 900, 800, 900, 700, 900, 900],
    'Government support utilized': [300000, 500000, 400000, 800, 80000, 500000, 50000, 75000, 80000, 300000, 30000, 75000, 700000, 300000, 250000, 500000, 350000, 400000, 100000, 300000],
    'Government support not utilized': [23000, 19000, 18000, 23000, 18000, 19000, 23000, 18000, 19000, 23000, 18000, 19000, 23000, 19000, 18000, 23000, 23000, 23000, 18000, 23000],
    'Others (PET Scan/ CT-Scan)': [None, None, None, 23000, 18000, None, 23000, 18000, 19000, None, 18000, 19000, None, None, 18000, 23000, 18000, None, None, None]
}

df = pd.DataFrame(data)

# Remove the 'None' values and convert the columns to numeric
cost_columns = ['Consultation', 'Bed charges', 'Investigation', 'Diagnostic charges', 'Medication', 'Government support utilized', 'Government support not utilized', 'Others (PET Scan/ CT-Scan)']
df[cost_columns] = df[cost_columns].apply(pd.to_numeric, errors='coerce')

# Group by 'CT TYPE' and calculate the mean for each cost category
mean_costs = df.groupby('CT TYPE').mean()

# Print the mean costs
print(mean_costs)

              Consultation  Bed charges  Investigation  Diagnostic charges  \
CT TYPE
Adjuvant             900.0  3312.500000    4723.750000              1100.0
Neo-Adjuvant         650.0  2395.833333    4390.833333              1700.0

              Medication  Government support utilized  \
CT TYPE
Adjuvant           815.0                238750.000000
Neo-Adjuvant       747.5                281733.333333

              Government support not utilized  Others (PET Scan/ CT-Scan)
CT TYPE
Adjuvant                         19500.000000                     20200.0
Neo-Adjuvant                     21166.666667                     19200.0